.background {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-personal-dac18.appspot.com/o/bgs%2Fbackground-projects-desktop.jpg?alt=media&token=53838f4f-0eaf-49ae-9ee7-47dd7e80948e');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 0;
}
.project-container {
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 10%;
}
.card {
    overflow: auto;
    min-width: 375px;
    max-width: 600px;
    margin: auto;
}

.card img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.project-detail {
    position: fixed;
    background: #20252c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.detail-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.detail-bg::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.801);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

@media (max-width: 767px) {
    .background {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-personal-dac18.appspot.com/o/bgs%2Fbg-binario.png?alt=media&token=fd3fa255-cff2-45a3-8af8-1b51f2496a34');
        background-size: contain;
    }
}

@media (max-width: 900px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        min-width: 200px;
        max-width: 400px;
        margin: auto;
    }
}