.background {
    background-image: url('https://static5.depositphotos.com/1015682/520/i/450/depositphotos_5206904-stock-photo-binary-code-on-pixellated-screen.jpg');
    background-size: cover;
    background-position: center;
    height: 100%; 
    padding: 20px 0;
    background-attachment: fixed;
}
.project-container {
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 10%;
}
.card {
    border: 1px solid #ccc;
    overflow: auto;
    min-width: 375px;
    max-width: 600px;
    margin: auto;
}

.card img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.project-detail {
    position: fixed;
    background: #20252c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.detail-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.detail-bg::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.801);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

@media (max-width: 900px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        min-width: 200px;
        max-width: 400px;
        margin: auto;
    }
    .background {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-personal-dac18.appspot.com/o/bgs%2Fbackground-projects-mobile.jpg?alt=media&token=dbb4110e-302a-4328-b904-27fcf16a5ae2');
    }
}