.home-class {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    color: #ffffff;
    min-height: 100vh;
  }
  
  .home-class h1 {
    font-size: 4rem; 
  }
  .home-class p {
    margin-top: 10px;
    font-size: 1.2rem; 
  }
  .home-class button { 
    background-color: rgb(23, 41, 141);
  }

  @media (max-width: 523px) {
    .home-class h1 {
      font-size: 3rem; 
    }
  }