.App section {
  width: auto;
  margin: 0 0;
  font-family: 'Space Mono', monospace;
}
h1 {
  font-family: 'Archivo Black', sans-serif;
}
h2 {
  font-family: 'Archivo Black', sans-serif;
}
body { 
  color: #f3eded;
  background: #20252c;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box; 
  border: 1px solid #f3eded;
  background: #393e44;
}
.img-bg {
  background-image: url('https://images.unsplash.com/photo-1542831371-32f555c86880?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZGlnbyUyMGRlJTIwcHJvZ3JhbWFjaW9ufGVufDB8fDB8fHww&w=1000&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; 
}
.img-bg::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.navbar {
  font-family: 'Space Mono', monospace;
  background: #000000b9;
  padding: 0 60px;
  position: fixed;
  z-index: 2;
}

@media (max-width: 1000px) {
  .App section, nav{
    margin: 0;
  }
  .img-bg {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-personal-dac18.appspot.com/o/bgs%2Fbackground-home-mobile.jpg?alt=media&token=145cfcf0-6642-4ba3-8aef-908057d614c7');
  }
}