.App section {
  margin: 0 10rem;
}
body { 
  color: #f3eded;
  background: #20252c;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box; 
  border: 1px solid #f3eded;
  background: #393e44;
}
.img-bg {
  background-image: url('https://images.unsplash.com/photo-1542831371-32f555c86880?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZGlnbyUyMGRlJTIwcHJvZ3JhbWFjaW9ufGVufDB8fDB8fHww&w=1000&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; 
}
.img-bg::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.navbar {
  display: block;
  background: #00000085;
  padding: 0 60px;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 20px 0;
}
.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar li {
  z-index: 1;
}
section {
  height: 100vh;
}
.button-container {
  margin-top: 5%;
}
a {
  text-decoration: none;
  color: inherit
} 

footer {
  color: #000000;
  text-align: center;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .App section, nav{
    margin: 0 5rem;
  }
}