.biography-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: auto;
  height: auto;
  margin: 0 25%;
} 
.biography-content {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.biography-image img{
  display: flex;
  justify-content: center;
  width: 20rem; 
  height: auto;
}
.biography-description {
  flex: 1;
  margin-top: 20px;
}
.technology-carousel {
  /* margin: 20px 50px; */
  padding: 70px 0;
  overflow: hidden;
}

.technology-icon {
  padding: 0 20px;
  text-align: center;
}

.technology-icon img {
  display: flex;
  width: auto; 
  height: 100px;
}



@media (max-width: 1023px) { /* para hasta 1023px */
  .biography-content {
    flex-direction: column;
    align-items: center;
  }
  .biography-description {
    padding-right: 0;
    margin: 0;
    margin-top: 10px;
  }
  .biography-image img{
    margin-bottom: 20px;
  }
}

@media (max-width: 1523px) {
  .biography-section {
    margin: 0 10%;
  }
}